@model SameSoftWeb.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout";
}

<div class="content-body">
    <!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Details</b></h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">

                        <div>
                            <h4>Item</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Category_Id)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Category_Id)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Measurement_Id)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Measurement_Id)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Bar_Code)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Bar_Code)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Unit_Cost)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Unit_Cost)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Sale_Price)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Sale_Price)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Re_Order_Leval)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Re_Order_Leval)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IsActive)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ManufacturerId)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ManufacturerId)
                                </dd>




                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Item_Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Tables end -->
</div>