@model IEnumerable<SameSoftWeb.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout";


}
<div class="content-body">
    <!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Items</b></h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">

                        <p>
                            @Html.ActionLink("Create New", "Create", "", new { Class = "btn btn-success" })
                        </p>
                        <table class="table table-bordered">
                            <tr>
                                <th>
                                    Name

                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Bar_Code)
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Cost
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Re_Order_Leval)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>
                                    Manufacturer
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bar_Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit_Cost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sale_Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Re_Order_Leval)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ManufacturerId)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Item_Id }) |

                                        @Html.ActionLink("Delete", "Delete", new { id = item.Item_Id })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Tables end -->
</div>