<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <title>SameSoft</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Bluetec Saas Software Startup Website Template" name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- CSS Files
    ================================================== -->
    <link href="" />
    <link href="~/Content2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/style.css" rel="stylesheet" type="text/css" />

    <!-- color scheme -->
    <link id="colors" href="~/Content2/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link href="~/Content2/css/coloring.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <div id="wrapper">
        <div id="topbar" class="text-white bg-color">
            <div class="container">
                <div class="topbar-left">
                    <span class="topbar-widget tb-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </span>
                </div>

                <div class="topbar-right  sm-hide">
                    <span class="topbar-widget tb-phone">+252 619 159 731 ,+252 616 661 844 </span>
                    <span class="topbar-widget tb-email">INFO@SAMESOFT.CO</span>
                    <span class="topbar-widget tb-opening-hours">Sat - Thur: 8:00 - 17:00</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- header begin -->
        <header class="header-light transparent scroll-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center header-col-left">
                                <!-- logo begin -->
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="#">
                                        <img alt="" src="~/Content2/images/samesoft.png" style="height:50px" />
                                    </a>
                                </div>
                                <!-- logo close -->
                                <!-- logo close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li>
                                        <a href="/Home/Index">Home </a>

                                    </li>
                                    <li>

                                        <a href="#">Products</a>
                                        <ul>
                                            <li>
                                                <a href="/Home/Products">All Products </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>

                                        <a href="#">Our Customers</a>
                                        <ul>
                                            <li><a href="/Web/AllCust">View All Customers</a></li>
                                            <li><a href="/Web/Hotelsandrestaurant">Hotel And Restaurant</a></li>
                                            <li><a href="/Web/Hospitals">Hospital Customers</a></li>
                                            <li><a href="/Web/AgentsandAirlines">Agency and Airlines</a></li>
                                            <li><a href="/Web/University">University Customers </a></li>
                                            <li><a href="/Web/CustomSoftware">Custom Software</a></li>

                                        </ul>
                                       
                                    </li>
                                    <li>
                                        <a href="/Home/About">About Us </a>

                                    </li>
                                    <li>
                                        <a href="/Home/Contact">Contact Us </a>

                                    </li>


                                </ul>
                            </div>
                            <div class="align-self-center ml-auto header-col-right">
                                <a class="btn-custom" href="/Users/Login"> Login</a>
                                <span id="menu-btn"></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


        <!-- footer begin -->
        <footer class="footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <a href="index.html"><img alt="" class="logo" src="~/Content2/images/samesoft.png" style="height:50px"></a>
                            <div class="spacer-20"></div>
                            <p>Software’s that Suits your need. We Provide <b>Risk Free</b> Trail Business Software.</p>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="widget">
                            <h5>Bussiness Hours</h5>
                            <ul>
                                <li>Saturday To Thursday:8:00 am to 17:00 pm</li>
                                <li>Friday:CLOSED</li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="widget">
                            <h5>Newsletter</h5>

                            <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
                            <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                                <div class="col text-center">
                                    <input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text" /> <a href="#" id="btn-submit"><i class="arrow_right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <div class="spacer-10"></div>
                            <small>Your email is safe with us. We don't spam.</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 sm-text-center mb-sm-30">
                        <div class="mt10">&copy; Copyright 2021 © Same Soft Inc. | All Rights Reserved</div>
                    </div>

                    <div class="col-md-6 text-md-right text-sm-left">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->

        <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="~/Content2/js/jquery.min.js"></script>
    <script src="~/Content2/js/bootstrap.min.js"></script>
    <script src="~/Content2/js/wow.min.js"></script>
    <script src="~/Content2/js/jquery.isotope.min.js"></script>
    <script src="~/Content2/js/easing.js"></script>
    <script src="~/Content2/js/owl.carousel.js"></script>
    <script src="~/Content2/js/validation.js"></script>
    <script src="~/Content2/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content2/js/enquire.min.js"></script>
    <script src="~/Content2/js/jquery.stellar.min.js"></script>
    <script src="~/Content2/js/jquery.plugin.js"></script>
    <script src="~/Content2/js/typed.js"></script>
    <script src="~/Content2/js/jquery.countTo.js"></script>
    <script src="~/Content2/js/jquery.countdown.js"></script>
    <script src="~/Content2/js/designesia.js"></script>

    
</body>
</html>


@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
