@model SameSoftWeb.Models.tblProject

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creation_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quotation_Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quotation_Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAgreement_Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAgreement_Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agreement_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agreement_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
