@model SameSoftWeb.Models.tblDialyTask

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-body">
    <!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Check-Out</b></h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <!--Start Sercice Details Area -->
                        <section class="service_details_area section_padding">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                                        <div class="service_details_page_content">
                                       

                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-horizontal">

                                                    <hr />
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.Daily_Task_ID)




                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("CustomerID", null, htmlAttributes: new { @Required = "", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Task_Decription, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.Task_Decription, new { htmlAttributes = new { @Required = "", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Task_Decription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.From_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.From_Time, new { htmlAttributes = new { @Required = "", @class = "form-control", @readonly = "" } })
                                                            @Html.ValidationMessageFor(model => model.From_Time, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <span class="control-label col-md-2">
                                                            Check-out Time ( Write for example 13:00 )  / 24 hour format
                                                        </span>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.To_Time, new { htmlAttributes = new { @Required = "", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.To_Time, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Transportation_Mode, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">
                                                            <select name="Transportation_Mode" class="form-control">
                                                                <option>@Model.Transportation_Mode</option>
                                                                <option>No Transportation</option>
                                                                <option>BL</option>
                                                                <option>Bajaj</option>
                                                                <option>BL + Bajaj</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="control-label col-md-2">
                                                            Transportation -USD (shiling somali ubadal Dollar example : 4,000SHs=$0.2)
                                                        </span>
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.Transportation, new { htmlAttributes = new { @Required = "", @class = "form-control", @value = "" + Model.Transportation + "" } })
                                                            @Html.ValidationMessageFor(model => model.Transportation, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Check-Out" class="btn btn-success" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div>
                                                @Html.ActionLink("Back to List", "Index")
                                            </div>










                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>










                        @*@model SameSoftWeb.Models.tblDialyTask

                            @{
                                ViewBag.Title = "Edit";
                                Layout = "~/Views/Shared/_Layout.cshtml";
                            }

                            <h2>Edit</h2>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>tblDialyTask</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Daily_Task_ID)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Task_Decription, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Task_Decription, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Task_Decription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Task_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Task_Date, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Task_Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.From_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.From_Time, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.From_Time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.To_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.To_Time, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.To_Time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Record_Date_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Record_Date_Time, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Record_Date_Time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Last_Updated, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Last_Updated, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Last_Updated, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>*@






                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Tables end -->
</div>
















